body {
  font-family: Arial;
  padding: 10px;
  background: #1e1e1e;
  color: white;
}

iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #555;
  margin-top: 10px;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 8px;
  margin: 5px 3px;
}
